<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<div id="change_password">
    <form id="change_password-form" action="/profile/change_password" method="post">
        <div>
            <label for="password">기존 비밀번호</label>
            <input id="password" name="password" type="password" maxlength="255" required>
        </div>
        <div>
            <label for="new_password">새로운 비밀번호</label>
            <input id="new_password" name="new_password" type="password" maxlength="255" required>
        </div>
        <div>
            <label for="verify_new_password">새로운 비밀번호 확인</label>
            <input id="verify_new_password" name="verify_new_password" type="password" max="255" required>
        </div>
        <button id="register_button" type="submit">비밀번호 변경</button>
    </form>
</div>
</body>
</html>