

<div class="container" >
    <div class="card bg-primary bg-opacity-10" style="margin:1% auto;">
        <h5 class="card-header">@Xpert</h5>
        <div class="card-body">
            <p class="card-text">@Xpert는 2005년 9월 영남대학교 최초의 정보보호 동아리로, 컴퓨터 공학과의 학술 동아리로서 창설되었습니다. 동아리방은 IT관 103-2호에 있습니다.
                정보보호업계의 전문가가 되겠다는 의미로 'expert'라는 동아리 이름을 짓게 되었습니다. 컴퓨터 및 보안의 전반적인 지식에서부터 시스템, 네트워크, 웹, 리버싱, 디지털 포렌식, 암호학 등
                다양한 분야에서의 정보보호에 관련된 지식을 습득하기 위해 항상 동아리 내부와 외부에서 스터디 및 프로젝트 진행을 통해 연구하고 있습니다.
                또한, 학과 수업뿐만 아니라 다양한 실무지식과 기술을 통괄하여 습득하기 위해서 많은 프로젝트 수행 및 각종 세미나 개최 및 참관, 그리고 연구자료 발표를 병행하고 있습니다. KISA에서 주관하는
                전국대학정보보호동아리 연합(KUCIS)에서도 우수한 연구결과를 내었으며, 최근에는 한국정보기술연구원(KITRI)에서 주관하는 '차세대 보안리더 양성 프로그램(Best of the Best)'에도
                꾸준히 참가하며 우수한 실적을 올리고 있습니다.</p>
        </div>
    </div>
    <div class="card bg-primary bg-opacity-10" style="margin:1% auto;">
        <h5 class="card-header">동아리 오시는 길</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img src="\public\campus_map\0.png" style="max-width: 100%; height: auto;">
                </div>
                <div class="col-6">
                    <img src="\public\campus_map\1.png" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>
