<div class="d-flex justify-content-center">
    <div id="carouselIndicators" class="carousel slide flex-fill p-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1">
            </button>
            <% for(var i = 1; i < image_files.length; ++i) { %>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="<%= i %>"
                        aria-label="Slide <%= i + 1 %>">
                </button>
            <% } %>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="\public\main_image\<%= image_files[0]%>" class="d-block w-100" alt="" height="500vh">
            </div>
            <% for(var i = 1; i < image_files.length; ++i) { %>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="\public\main_image\<%= image_files[i]%>" class="d-block w-100" alt="" height="500vh">
                </div>
            <% } %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>