<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %>의 수신함</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    <% for(var message of messages) { %>
        <% console.log(message);%>
        <tr>
            <td><%= message.message %></td>
            <td><%= message.created_at %></td>
            <td><%= message.is_read %></td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>