<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>쪽지 보내기</title>
</head>
<body>
<form action="/message/write" method="post">
    <% if(target_nickname != null) { %>
        <div>
            <label for="target_nickname">받는 사람 : <%= target_nickname %></label>
            <input type="hidden" name="target_nickname" id="target_nickname" value="<%=target_nickname%>">
        </div>
    <% } else { %>
        <div>
            <label for="target_nickname"></label>
            <input type="text" name="target_nickname" id="target_nickname" placeholder="받는사람" maxlength="100" required>
        </div>
    <% } %>
    <div>
        <label for="message"></label>
        <textarea rows="10" cols="50" name="message" id="message" placeholder="내용을 입력하세요." maxlength="1000"
                  required></textarea>
    </div>
    <div>
        <input type="submit" value="등록">
    </div>
</form>
</body>
</html>