<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>쪽지 보내기</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form id="message_write" action="/message/write" method="post">
    <% if(target_nickname != null) { %>
        <div class="my-3 mx-3">
            <label class="form-label" for="target_nickname">받는사람</label>
            <input class="form-control" type="text" name="target_nickname" id="target_nickname" value="<%= target_nickname %>" readonly>
        </div>
    <% } else { %>
        <div class="my-3 mx-3">
            <label class="form-label" for="target_nickname">받는사람</label>
            <input class="form-control" type="text" name="target_nickname" id="target_nickname" maxlength="100" required>
        </div>
    <% } %>
    <div class="my-3 mx-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요." maxlength="50"
               required>
    </div>
    <div class="mb-3 mx-3">
        <label for="message" class="form-label">내용</label>
        <textarea class="form-control" name="message" id="message" rows="10" cols="70" placeholder="내용을 입력해 주세요." style="resize: none" required></textarea>
    </div>

    <div class="my-3 mx-3">
        <button class="btn btn-outline-primary btn-sm me-2" type="submit">보내기</button>
    </div>
</form>
</body>
</html>